[user]
  name = Raymond Cox
  email = raymond@raymondjcox.com
[credential]
  helper = osxkeychain
[push]
  default = simple
[color]
  ui = true
[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
  co = checkout
  br = branch
  ci = commit
  a = add --patch
  s = status
  d = diff
  cleanup = "!git branch --merged | grep -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"
